
.main-nav{
    min-height: 50px;
    width: 100%;
    margin: 0% auto;
    border-top: solid 3px #ef8236;
    box-shadow : 0px 1px 5px #00000033;
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    background-color: #f8f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    height: 100%;
    min-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    padding: 5px 25px;
}
.nav-item{
    margin: 0px 3px;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: rgb(69,69,69);
    transition: 0.2s;
}
.checkbtn{
    font-size: larger;
    float: right;
    line-height: 50px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.nav-btn{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
}

.nav-item:hover{
    background-color: rgb(226,226,226);
}

.navbar .collapse-sm {
    display: flex;
}
.ham{
    display: none;
}
.login-info{
    display: flex;
}
@media screen and (max-width: 823px) {
    .login-info{
        margin-left: 325px;
    }
    .ham{
        display: block;
    }
    .navbar{
        justify-content: flex-start;
    }
    .navbar .collapse-sm {
        position: fixed;
        top: 53px;
        left: 0px;
        height : 100vh;
        background-color: #f8f8f8;
        border: 3px solid #ef8236;
        display: none;
        /* transition: display 2s; */
    }    
    .navbar .collapse-sm.open{
        display: block;
    }
    .navbar .collapse-sm > * {
        display: block;
    }
}
@media (max-width:681px){
    .login-info{
        margin-left: 200px;
    }
}
@media (max-width : 517px){
    .login-info{
        margin-left: 70px;
    }
}
@media (max-width : 385px){
    .login-info{
        margin-left: 15px;
    }
}
@media (max-width : 325px){
    .ham{
        margin-left: 10px;
    }
    .nav-logo{
        padding: 5px 10px;
    }
    .login-info{
        margin-left: 9px;
    }
}
.navbar form{
    flex-grow: 1;
    padding: 0px 12px;
    position: relative;
}

.navbar form input{
    min-width: 100%;
    margin: 0;
    margin-top: 2px;
    padding: 8px 10px 8px 32px;
    font-size: 13px;
    border: solid 1px #0000003e;
    border-radius: 3px;
}

@media(max-width : 1050px){
    .navbar form input{
        min-width: 80%;
    }
}
.navbar form .search-icon{
    position: absolute;
    left: 25px;
    top: 8px;

}

.nav-links{
    padding:7px 13px;
    border: solid 1px blue;
    border-radius: 3px;
    background-color: #e7f8fe;
    cursor: pointer;
}
.nav-links:hover{
    background-color: #d3e4eb;
}

@media (max-width : 1110px) {
    
    
}

@media (max-width : 760px){
    
}